
  .bonus {
    padding-bottom: rem(20);

    &__plus {
      margin: 0 2.125rem 1.25rem;
    }

    &__blank {
      padding-left: rem(25);
      padding-right: rem(50);

      &:before {
        left: 0.225rem;
      }

      &--bot {
        margin-bottom: rem(40);
        margin-top: rem(10);
      }

    }
  }

  .pdf {
    counter-reset: plus-counter;
    margin: 0;

    &__item {
      margin-bottom: rem(26);

      &:last-of-type {
        margin-bottom: rem(0);
      }
    }

    &__title {
      position: relative;
      counter-increment: plus-counter;
      margin-bottom: rem(10);

      &--counter {

        &:before {
          content: "";
          position: absolute;
          width: rem(5);
          height: rem(5);
          display: block;
          background-color: #16ebfe;
          top: 1.5125rem;
          left: -1.025rem;
        }

        &:after {
          display: block;
          content: "0" counter(plus-counter) ".";
          position: absolute;
          font-family: $acrom;
          font-size: rem(17);
          font-weight: 900;
          line-height: 100%;
          top: rem(5);
          left: -2.1625rem;
        }
      }
    }

    &__black {
      &--span {
        text-transform: initial;
      }
    }
  }

    .client-info {
      margin: auto;
      padding: rem(40) rem(0);
      width: prc(246, 320);
      -webkit-box-shadow: 0px 13px 95px -12px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: 0px 13px 95px -12px rgba(0, 0, 0, 0.52);
      box-shadow: 0 12px 42px -12px rgba(0, 0, 0, 0.52);

      &__form {
        display: block;
        width: 64%;
        margin: auto;
      }
    }

    .form {
      &__label {
        font-family: $acrom;
        font-size: rem(7);
        color: #a3a3a3;
        display: block;
      }

      &__input {
        display: block;
        border: 0;
        border-bottom: rem(1.2) solid #f2f2f2;
        width: 100%;
        margin-bottom: rem(0);
        text-align: left;
        font-size: rem(7);
        font-family: $acrom;
        font-weight: 700;
        color: #000000;
        padding: rem(10) rem(0);
      }

      &__btn {
        font-size: rem(6);
        padding: rem(5) rem(14);
        margin-left: 0;
        margin-top: rem(20);
      }
    }


@media (min-width: 480px) {
  .bonus {

    &__plus {
      margin-left: 5.325rem;
      margin-bottom: rem(34);
    }

    &__blank {
      padding-left: 3.1125rem;
      padding-right: 7.925rem;

      &:before {
        left: 0.725rem;
      }

      &--bot {
        margin-bottom: rem(60);
        margin-top: rem(17);
      }
    }
  }

  .pdf {
    margin-left: rem(33);
    margin-right: rem(86);

    &__title {
      &--counter {
        /*padding-right: 5.375rem;
        padding-left: 7.1625rem;*/

        &:after {
          left: -2.4rem;
          bottom: 3.2375rem;
        }

        &:before {
          top: 1.575rem;
          left: -1.225rem;
        }
      }
    }
  }


/*  .title {
    &__counter {
      padding-right: 5.375rem;
      padding-left: 7.1625rem;

      &:after {
        left: 5rem;
        bottom: 3.2375rem;
      }

      &:before {
        top: 1.575rem;
        left: 6.175rem;
      }
    }
  }*/

  .counter {
    &__title {
      &--size{
        font-size: 0.875rem;
      }
    }
  }

  .client-info {
    padding: rem(60) rem(0);
    align-self: flex-start;

    &__form {
      width: 100%;
      padding-right: rem(65);
      padding-left: rem(65);
    }

    &__input {
      width: 95%;
    }
  }

  .form {
    &__btn {
      padding: 0.65rem 2.065rem;
      width: 10rem;
    }
  }
}

@media (min-width: 768px) {
  .bonus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__plus {
      margin: 0;
      width: 45%;
    }

    &__title {
      text-align: left;
    }

    &__blank {
      padding-left: 2.1125rem;
      padding-right: 6.025rem;

      &--bot {
        margin-bottom: 0.95rem;
      }

      &:before {
        left: 0.0875rem;
      }
    }

    &__counter {
      padding-right: 1.375rem;
      padding-left: 2.5625rem;

      &:before {
        top: 2.175rem;
        left: 1.375rem;
      }

      &:after {
        left: 0.3rem;
        bottom: 3.1375rem;
      }

      &__title {
        font-size: 0.9825rem;
      }
    }
  }

  .pdf {
    margin-right: rem(20);
  }

  .blocky {
    display: block;
    width: 55%;
    margin-top: rem(5);
  }

  .client-info {
    width: 45%;
    margin: 0;

    &__form {
      margin: 0;
      padding: 0 rem(36);
    }
  }

  .form {
    &__label {
      font-size: rem(12);
      margin-top: rem(15);
    }

    &__input {
      font-size: rem(12);
    }

    &__btn {
      font-size: rem(12);
      width: 12.7rem;
    }
  }

  .counter {
    &__title {
      &--size {
        font-size: 0.9825rem;
      }
    }
  }
}

@media (min-width: 960px) {
  .bonus {
    &__counter {

      &:before {
        top: 2.8875rem;
        left: 1.1625rem;
      }

      &:after {
        bottom: 2.1375rem;
      }
    }
  }

  .pdf {
    margin-right: 2.75rem;
  }

  .counter {
    &__title {
      &--size {
        font-size: 0.9825rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .client-info {
    margin-right: rem(0);
  }

  .counter {
    &__title {
      &--size {
        font-size: 0.9825rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .bonus {
    padding-bottom: rem(60);

    &__blank {
      padding-right: 1.925rem;
    }
  }

  .counter {
    &__title {
      &--size {
        font-size: 0.9825rem;
      }
    }
  }

  .client-info {
    width: 45%;
  }

  .blocky {
    width: 59%;
  }
}
