.container {
<<<<<<< HEAD
    max-width: rem(855);
    padding: 0 rem(16);
    margin: auto
=======
  max-width: rem(855);
  min-width: rem(320);
  padding: 0 rem(16);
  margin: auto;
>>>>>>> master
}
