.web-career {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
  justify-content: center;


  &__align-center {
    width: 80%;
    display: block;
    margin: 0 auto 1.1rem;
  }

  &__career{
    margin-bottom: 1.1rem;
    display: flex;
    flex-direction: column-reverse;
  }

  &__career:last-child{
    margin-bottom: 0;
  }
}
.web {
  text-transform: uppercase;
  width: 92%;
  display: block;
  margin: 0 auto 1rem;
  font-weight: 900;
}
.title {
  &--career {
    text-align: left;
  }
  .span-web-career {
    display: block;
  }
}
.text {
  &--web-career{
    //width: 68%;
    display: block;
    margin: auto;
    //max-width: 79%;
  }
  &--bold {
    font-weight: 700;
  }
}
@media (min-width: 480px) {

  .web-career {

    &__align-center {
      width: 80%;
      display: block;
      margin: 0 auto 1.1rem;
    }
  }
  .text {

    &--bold {
      max-width: 79%;
    }

    &--web-center {
      width: 75%;
    }
  }

  .-web {
    width: 71%;
  }

}
@media (min-width: 768px) {
  .web-career {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 2.875rem;
    &__career {
      width: 48%;
      &--reverse {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .web {
    //font-size: 0.5625rem;
    width: 100%;
  }
}
@media (min-width: 1200px){
  .web-career{

    &__align-center{
      width: 100%;
    }
  }
}

