.earn {
    padding: rem(38) 0 0;
    margin: 0 0 rem(52);

    &__box-top {
        margin: 0 0 rem(30);
    }
    &__text {
        margin: 0 0 rem(30);
    }
    &__blank {
        margin: 0 0 rem(12) rem(73);
    }
    &__box-right {
        margin: 0 0 rem(30);
    }
    &__title {
        width: rem(200);
        margin: auto;
    }
    &__picture {
        display: block;
        position: relative;
        &:after {
            display: block;
            content: 'you';
            text-transform: uppercase;
            font-size: rem(65);
            font-weight: 700;
            color: rgba(0, 0, 0, 0.051);
            font-family: $acrom;
            transform: rotate(90deg);
            position: absolute;
            z-index: -1;
            top: rem(298);
            left: rem(-50);
            }
        }
    &__img {
        margin: auto;
    }
        &__bottom {
    padding: rem(16) 0;
    }
    
    &__comment {
        font-family: $acrom;
        text-transform: uppercase;
        color: $black;
        font-size: rem(9);
        font-weight: 700;
        text-align: left;
        margin: 0 0 rem(15);
    }
    
    &__body {
        padding: 0 rem(24);
    }
    
    &__txt {
        position: relative;
        margin-bottom: rem(10);
        font-size: 9px;
     
        &--orange {
        font-size: rem(9);
        font-weight: 500;
        width: 60%;
        margin: auto;
        text-align: center;
        }
     
        &:before {
            position: absolute;
            content: "";
            width: rem(5);
            height: rem(5);
            background-color: $black;
            top: rem(5);
            left: rem(-10);
        }
    }
    
    &__span {
        font-weight: 700;
        color: $black;
    }
}
@media (min-width: 480px) {
.earn {
    padding: rem(55) 0 0;
    margin: 0 0 rem(80);

    &__box-top {
        margin: 0 0 rem(46);
        }
    &__blank {
        margin: 0 0 rem(15) rem(160);
        }
    &__title {
        width: rem(240);
        margin: auto;
        }
    &__bottom {
        padding: 0;
        }
    &__picture {

        &:after {
            display: block;
            content: 'you';
            font-size: rem(100);
            top: rem(360);
            left: rem(-30);
            }
        }
    &__coment {
        font-size: rem(14);
        }
       
    &__body {
        padding:0 rem(32);
        }
       
    &__txt {
        font-size: rem(14);
            &:nth-last-child(2) {
            margin-bottom: rem(20);
            }
            &--orange {
            font-size: rem(14);
            }
        }
    }
}
@media (min-width: 768px) {
.earn {
    padding: rem(112) 0 0;
    margin: 0 0 rem(57);

    &__box-top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 0 rem(67);
        }
    &__picture {
        flex-basis: 40%;

            &:after {
                display: block;
                content: 'you';
                font-size: rem(140);
                top: rem(320);
                left: rem(-80);
                }
        }
    &__box-right {
        flex-basis: 40%;
        margin: 0;
        }
    &__text {
        text-align: left;
        margin: 0 0 rem(40);
        }
    &__blank {
        margin: 0 0 rem(20) rem(46);
        }
    &__title {
        width: rem(300);
        margin: 0;
        line-height: rem(46);
        }
    &__comment {
        font-size: rem(17);
        margin-bottom: rem(21);
        }
    
    &__body {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    
    &__txt {
        font-size: rem(9);
        flex-basis: 22%;
        margin: 0 0 rem(20);
    
        &:before {
            display: none;
            }
    
        &--orange {
            font-size: rem(9);
            flex-basis: 26%;
            margin: rem(14) 0  0 auto;
            text-align: left;
            font-weight: 700;
            }

        &:nth-last-child(-n+5) {
            margin-bottom: 0;
            }
        }
    }
}
@media (min-width: 960px){
.earn {
    padding: rem(140) 0 0;
    margin: 0 0 rem(70);

    &__box-top {
        margin: 0 0 rem(84);
        }
    &__text {
        margin: 0 0 rem(42);
        }
    &__blank {
        margin: 0 0 rem(22) rem(46);
        }
    &__title {
        line-height: rem(57);
        }
    &__comment {
        font-size: rem(21);
        }
    &__picture {
    
        &:after {
            display: block;
            content: 'you';
            font-size: rem(176);
            font-weight: 900;
            top: rem(350);
            left: rem(-110);
            }
        }
    &__txt {
        font-size: rem(11);
    
        &--orange {
            font-size: rem(11);
            }
        }
    }
}
@media (min-width: 1200px) {
.earn {
    padding: rem(125) 0 0;
    margin: 0 0 rem(125);

    &__box-top {
        margin: 0 0 rem(70);
        }
    &__bottom {
        display: flex;
        justify-content: space-between;
        }

    &__comment {
        flex-basis: 25%;
        font-size: rem(18);
        margin: 0;
        }

    &__body {
        flex-basis: 80%;
        }
    &__picture {
    
        &:after {
            display: block;
            content: 'you';
            left: rem(-120);
            }
        }

    &__txt {
        font-size: rem(10);
        flex-basis: 28%;

        &--orange {
            margin: 0;
            font-size: rem(10);
            }

        &:nth-child(-n+6) {
            margin-bottom: rem(24);
            }

        &:nth-child(3n+4) {
            padding: rem(5)0 0;
            }
        }
    }
}
@media (min-width: 1440px) {
.earn {
        padding: rem(150) 0 0;
        margin: 0 0 rem(150);

    &__title {
        line-height: rem(67);
        }
    &__body {
        flex-basis: 80%;
        }
    
    &__comment {
        font-size: rem(22);
        }
    &__picture {
    
        &:after {
            display: block;
            content: 'you';
            font-size: rem(187);
            }
        }
    &__txt {
        font-size: rem(12);
        flex-basis: 30%;
    
        &--orange {
            font-size: rem(12);
            padding: rem(15)0 0;
            }
    
        &:nth-child(-n+6) {
            margin-bottom: rem(28);
            }
        }
    }
}

// .earn {
//     // &__bottom {
//     // padding: rem(16) 0;
//     // }
    
//     &__comment {
//        font-family: $acrom;
//        text-transform: uppercase;
//        color: $black;
//        font-size: rem(9);
//        font-weight: 700;
//        text-align: left;
//        margin: 0 0 rem(15);
//     }
    
//     &__body {
//        padding: 0 rem(24);
//     }
    
//     &__txt {
//        position: relative;
//        margin-bottom: rem(10);
//        font-size: 9px;
    
//         &--orange {
//         font-size: rem(9);
//         font-weight: 500;
//         width: 60%;
//         margin: auto;
//         text-align: center;
//         }
    
//         &:before {
//         position: absolute;
//         content: "";
//         width: rem(5);
//         height: rem(5);
//         background-color: $black;
//         top: rem(5);
//         left: rem(-10);
//         }
//     }
    
//     &__span {
//        font-weight: 700;
//        color: $black;
//     }
// }
// @media (min-width: 480px) {
//     .earn {
//         // &__bottom {
//         //     padding: 0;
//         // }
//         &__coment {
//          font-size: rem(14);
//         }
    
//         &__body {
//          padding:0 rem(32);
//         }
    
//         &__txt {
//         font-size: rem(14);
//             &:nth-last-child(2) {
//             margin-bottom: rem(20);
//             }
//             &--orange {
//             font-size: rem(14);
//             }
//         }
//     }
// }
// @media (min-width: 768px) {
//     .earn {
//         &__bottom {
//             padding: 0 rem(32);
//         }
    
//         &__comment {
//         font-size: rem(17);
//         margin-bottom: rem(21);
//         padding: 0 rem(10);
//         }
    
//         &__body {
//         padding: 0;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         }
    
//         &__txt {
//         font-size: rem(9);
//         flex-basis: 22%;
    
//             &:before {
//             display: none;
//             }
    
//             &--orange {
//             font-size: rem(9);
//             flex-basis: 26%;
//             margin: rem(14) 0  0 auto;
//             text-align: left;
//             }

//             &:nth-last-child(-n+5) {
//             margin-bottom: 0;
//             }
//        }
//     }
// }
// @media (min-width: 960px) {
//     .earn {
    
//         &__comment {
//             font-size: rem(21);
//         }
    
//         &__txt {
//             font-size: rem(11);
    
//             &--orange {
//               font-size: rem(11);
//             }
//         }
    
//     }
// }

// @media (min-width: 1200px) {
//     .earn {
//         &__bottom {
//             display: flex;
//             justify-content: space-between;
//         }

//         &__comment {
//             flex-basis: 25%;
//             font-size: rem(18);
//         }
    
//         &__body {
//             flex-basis: 70%;
//         }
    
//         &__txt {
//             font-size: rem(10);
//             flex-basis: 33%;
    
//             &--orange {
//                 margin: auto;
//                 font-size: rem(10);
//             }
    
//             &:nth-child(-n+6) {
//                 margin-bottom: rem(24);
//             }
    
//             &:nth-child(3n+4) {
//                 padding: rem(5)0 0;
//             }
//        }
//     }
// }

// @media (min-width: 1440px) {
//     .earn {
//         &__body {
//             flex-basis: 80%;
//         }
    
//         &__comment {
//             font-size: rem(22);
//         }
    
//         &__txt {
//             font-size: rem(12);
//             flex-basis: 30%;
    
//             &--orange {
//                 font-size: rem(12);
//                 margin: auto 0;
//                 padding: rem(15)0 0;
//             }
    
//             &:nth-child(-n+6) {
//                 margin-bottom: rem(28);
//             }
//         }
//     }
// }
