
.facts {
    margin: 0 0 rem(35);
    &__box-right {
        display: flex;
        flex-direction: column;
    }
    &__box-left {
        margin: 0 auto rem(27); 
    }
    &__title {
        text-align: center;
        margin: 0 0 rem(26);
    }
    &__blank {
        width: 60.3125%;
        margin-left: rem(60);
    }
    &__item {
        margin: 0 0 rem(28);
        display: inline-block;
        &:nth-last-child(3) {
            margin: 0;
        }
        & > .text {
            margin: rem(10) 0 0;
        }
        // &:before {
        //     display: inline-block;
        //     content: '';
        //     width: rem(6);
        //     height: rem(6);
        //     background-color: #ff6b08;
        //     box-shadow: rem(1) rem(1) #ffba8c;
        //     margin-right: rem(8);
        // }
    }
    &__item--order {
        order: -2;
    }
    &__item--ord {
        order: -1;
    }
    &__sub-title {
        margin: 0 0 rem(8);
    }
    &__graph {
        display: none;
    }
}
@media (min-width: 480px) {
    .facts {
        margin: 0 0 rem(50);
        &__title {
            margin: 0 0 rem(42);
        }
        &__box-left {
            margin: 0 auto rem(36); 
        }
        &__blank {
            width: 63.84%;
            margin-left: rem(124);
        }
        &__item {
            & > .text {
                margin: rem(18) 0 0;
            }
            // &:before {
            //     display: inline-block;
            //     content: '';
            //     width: rem(10);
            //     height: rem(10);
            //     background-color: #ff6b08;
            //     margin-right: rem(11);
            // }
        }
        &__sub-title {
            margin: 0 0 rem(12);
        }
    }
}
@media (min-width: 768px) {
    .facts {
        margin: 0 0 rem(100);
        display: flex;
        justify-content: space-between;
        &__box-right {
            flex-basis: 76%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &__box-left {
            flex-basis: 29%;
            margin: 0;
        }
        &__item--order {
            order: 0;
        }
        &__item--ord {
            order: 0;
        }
        &__item {
            position: relative;
            flex-basis: 42%;
            margin: 0 0 rem(22);
            z-index: 1;
            &:before {
                display: none;
            }
            &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
            & > .text {
                margin: rem(14) 0 0;
            }
            &:nth-last-child(3) {
                margin: 0 0 rem(22);
            }
        }
        &__graph {
            display: block;
            position: absolute;
            z-index: -1;
            bottom: -10%;
            right: -10%;
        }
        &__title {
            margin: 0 0 rem(23);

        }
        &__blank {
            margin-left: rem(67);
            font-size: 0.725rem;
            width: 68.8%;
        }
    }
}
@media (min-width: 960px) {
    .facts {
        margin: 0 0 rem(125);
        &__box-left {
            flex-basis: 30%;
        }
        &__title {
            margin: 0 0 rem(28);
        }
        &__blank {
            font-size: rem(14);
        }
        &__item {
            margin: 0 0 rem(25) 0;
        }
        &__sub-title {
            margin-bottom: rem(15);
        }
        &__graph {
            right: -30%;
        }
    }
}
@media (min-width:1200px){
    .blue--facts {
        font-size: rem(14);
    }
}
@media (min-width: 1440px) {
    .facts {
        margin: 0 0 rem(160);
        &__box-left {
            flex-basis: 33%;
        }
        &__title {
            margin: 0 0 rem(34);
        }
        &__item {
            margin: 0 0 rem(27) 0;
        }
    }
}