.footer {
  color: $white;
  text-align: center;

  &__thumbnail {
    display: inline-block;
    padding-top: rem(30);
  }


  &__req {
    font-size: rem(10.5);
    color: $white;
    font-family: $acrom;
    margin-top: rem(20);

  }
&__adress {
  text-transform: uppercase;
  font-weight: bold;
}

&__text {
  color: #a2a2a2;
}

&__number {
  display: block;
}
  &__social {
    font-size: rem(10.5);
    color: $white;
    font-family: $acrom;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: rem(20);

  }

  &__top {
    background-color: $header-footer;
  }

  &__thumbnail {
    width: rem(75);
    //height: rem(25);
  }

  &__bottom {
    background-color: $footer;
  }


  &__btn {
    color: $white;
    font-size: rem(9);
    font-family: $acrom;
    background-color: transparent;
    margin-top: rem(20);
    margin-bottom: rem(20);
    padding: rem(15) rem(30);
    border-color: #1b4371;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__rule {
    font-size: rem(9);
    color: #4d4e51;
    font-family: $acrom;
    padding: rem(5);


  }

  &__legalities {
    padding: rem(20) 0;
  }

  &__logo-ra {
    display: inline-block;
    padding-bottom: rem(30);
  }
}
@media (min-width: 768px) {
  .footer {
    //display: block;

    &__top {
      display: flex;
      //justify-content: space-between;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      padding: rem(40) 0;
    }

    &__contact {
      display: flex;
      justify-content: start;
    }

    &__req {
      flex-basis: 26%;
      text-align: left;
    }

    &__btn {
      justify-content: end;
    }
    &__social {
    text-align: left;
    }

    &__logo {
      margin-right: rem(20);
    }

    &__legalities {
      display: flex;
      justify-content: space-between;
    }

    &__box--slim {
      display: flex;
      padding: 0;
      align-items: center;
    }

    &__logo-ra {
      display: block;
      //align-items: center;
      padding: 0;
    }
  }




}

