.a-wrapper {
  min-width: rem(320);
  max-width: rem(1440);
  padding: 0 rem(15);
  margin: 0 auto;
}

.footer {
  text-align: center;
  color: $white;
  font-family: "Light", sans-serif;
}

.footer__top {
  background-color: #181c27;
}

.footer__bottom {
  background-color: #202020;
}

.footer__logo2 {
  background: no-repeat center / cover;
  padding-bottom: rem(15);
  display: inline-block;
}

.footer__content {
  padding-top: rem(15);
}

.footer__logo {
  background: no-repeat center / cover;
  display: inline-block;
}

.footer-social__link, .footer-list_link {
  color: $white;
  text-decoration: none;
  text-transform: none;
}

.footer-social__item, .footer-list__item {
  list-style: none;
  color: #65666a;
  font-size: rem(14);
  cursor: pointer;
}

.footer__list {
  padding-top: rem(5);
}

//.footer-list_link{
//    color: $footer-link;
//    font-size: rem(14);
//}

.footer_btn {
  font-size: rem(12);
  color: $white;
  padding: rem(20) rem(46);
  border: rem(2) solid #1b4371;
  background-color: #181c27;
  margin-top: rem(14);
}

.text__footer-span {
  color: #65666a;
  font-size: rem(14);
  display: block;
  margin-bottom: rem(7);
}

.footer-info__title {
  font-size: rem(12);
  text-transform: uppercase;
  margin-bottom: rem(14);
}

.text__footer-span:last-child {
  margin-bottom: 0;
}

.footer-list__item {
  margin-bottom: rem(7);
}

.footer__main {
  padding-bottom: rem(12);
}

.footer__info {
  margin-top: rem(14);
}

.footer__social {
  margin-top: rem(14);
}

.modal.large {
  max-width: 680px;
  max-height: 550px;
  overflow-y: scroll;
  padding: 20px;
}
.modal {
  position: fixed;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  background-color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 458px;
  min-width: 300px;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  transition: all .3s;
  padding: 60px;
}

.popup__close {
  width: 21px;
  height: 19px;
  background: url(../img/close.png) no-repeat;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  opacity: .5;
  font-size: 30px;
}
.modal-head h4 {
  color: #000;
  font-family: "Acrom" ,sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}
.modal-content {
  text-align: justify;
}

.modal-content  p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000;
  font-size: rem(16);
  font-family: "Acrom" ,sans-serif;
}


.modal--show {
  display: block;
  opacity: 1;
}
@media (min-width: 768px) {

  .footer__top {
    padding: rem(100) 0;
  }

  .footer__social {
    margin: 0;
  }

  .footer__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: rem(100);
    text-align: left;
    padding: 0;
    align-items: center;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 74%;
    padding: 0;
  }

  .footer__info {
    margin: 0;
  }

  .footer__content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer_btn {
    margin: 0;
  }

  .footer-info__title {
    margin: 0;
    line-height: rem(32);
  }

  .footer__logo2 {
    padding: 0;
  }

  .footer-list_span {
    display: block;
  }

  .content__link  {
    padding-top: rem(15);
  }

  .footer-list__item {
    margin: 0;
    padding: rem(28) 0;
  }

  .footer__main {
    padding: 0;
  }
}

@media (min-width: 960px) {

  .footer__top {
    padding: 2.25rem 0;
  }

  .footer__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-align: left;
    margin-bottom: rem(50);
    align-items: center;
  }

  .footer__list {
    display: flex;
    flex-basis: 67%;
  }

  .footer-list__item {
    margin: 0;
  }

  .footer__logo2 {
    display: flex;
    flex-basis: 7%;
    align-items: center;
    text-align: center;
  }

  .footer__content2 {
    margin: 0;
    padding: 0;
  }

}

@media (min-width: 1200px) {

  .footer__top {
    padding: 4.25rem;
  }

  .footer__main {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .footer__content {
    justify-content: space-between;
    flex-basis: 73%;
    flex-grow: 0;
    margin: 0;
  }

  .footer_btn {
    align-self: center;
  }

  .footer__content2 {
    display: flex;
    justify-content: space-between;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
  }
}
