.for-hand {
  padding: 0 1.4rem;
  margin-bottom: 1.875rem;

  &__header {
    margin: 0 auto rem(15);
  }

  &__title {
    margin: 0 0 rem(14) 0;
  }
  &__blank {
    margin-left: rem(30);
  }
  &__img {
    margin: auto;
  }
  &__comments {
    margin: rem(26) 0 rem(10) 0;
  }
}

@media (min-width: 480px) {
  .for-hand {

    &__header {
      margin: 0 auto rem(24);
      padding: 0 3.25rem;
    }

    &__info {

    }

    &__title {
      margin: 0 0 rem(21) 0;
    }

    &__comments {
      margin: rem(39) 0 rem(15) 0;
    }
    &__text {

    }
  }
}

@media (min-width: 768px) {
  .for-hand {
    padding: 0;
    margin-bottom: 2.875rem;
    display: flex;
    justify-content: space-evenly;

    &__header {
      flex-basis: 32.49%;
      margin: 0;
      padding: 0;
    }

    &__title {
      margin: 0 0 rem(27) 0;
    }
    &__blank {
      margin-left: 2.85rem;
    }
    &__img {
      margin: 0;
    }
    &__pic {
      flex-basis: 24.85%;
    }
    &__info {
      flex-basis: 18.6%;
    }
    &__comments {
      margin: 0 0 rem(17) 0;
      padding: 0;
    }
    &__text {
      padding: 0;

    }
  }

}

@media (min-width: 960px) {
  .for-hand {
    justify-content: space-between;
    &__header {
      flex-basis: 34%;
    }

    &__title {
      margin: 0 0 rem(31) 0;
    }
    &__blank {
      margin-left: 2.85rem;
    }

    &__pic {
      flex-basis: 24.85%;
    }
    &__info {
      flex-basis: 18.6%;
    }
    &__comments {
      margin: 0 0 rem(18) 0;
    }

  }

}

@media (min-width: 1200px) {
  .for-hand {
    &__header {
      flex-basis: 32.49%;
    }

    &__title {
      margin: 0 0 rem(34) 0;
    }
    &__blank {
      margin-left: 2.85rem;
    }

    &__pic {
      flex-basis: 24.85%;
    }
    &__info {
      flex-basis: 18.6%;
    }
    &__comments {
      margin: 0 0 rem(21) 0;
    }

  }

}

@media (min-width: 1440px) {
  .for-hand {
    &__header {
      flex-basis: 32.49%;
    }

    &__title {
      margin: 0 0 rem(37) 0;
    }
    &__blank {
      margin-left: 2.85rem;
    }

    &__pic {
      flex-basis: 24.85%;
    }
    &__info {
      flex-basis: 18.6%;
    }
    &__comments {
      margin: 0 0 rem(21) 0;
    }

  }

}
