.important{
  margin-bottom: 1.875rem;
}

.important__info{
  padding: 0 2.2rem;
  margin: 0 0 rem(15);
}

.info__title {
  margin: 0 auto rem(15);
  text-align: center;
}

.info__offer{
  font-size: rem(10);
  font-family: Acrom, sans-serif;
}

.text--white {
  color: $white;
}

.offer__text{
  margin: 0 0 rem(10);
  line-height: rem(14);
}

.offer__text3 {
  position: relative;
  margin: 0 0 rem(21);
  line-height: rem(14);
}

.offer__text3:before{
  position: absolute;
  content: "";
  top: 0.1rem;
  left: -0.7625rem;
}

.offer__btn{
  margin: auto;
  padding: .3125rem 0.375rem;
}


.important__value {
  width: prc(288, 320);
  background-color: #052139;
  color: #ffffff;
  margin: auto;
  padding: rem(50) rem(50);
}

.cost{
  display: flex;
  justify-content: space-between;
}

.cost {
  margin: 0 0 rem(24);
}

.proposal{
  display: flex;
  justify-content: space-between;
}

.cost__text1{
  position: relative;
  flex-basis: 42%;
  font-family: Acrom, sans-serif;
  font-size: rem(9);
  font-weight: 700;
}

.cost__text1:after{
  position: absolute;
  display: inline-block;
  content: " ";
  border: rem(1) solid #ffffff;
  width: rem(30);
  top: rem(21);
  right: rem(-37);
}

.cost__span1{
  text-transform: uppercase;
  font-family: Acrom, sans-serif;
  font-size: rem(9);
  font-weight: 700;
  align-self: center;
}

.proposal__text2{
  flex-basis: 42%;
  text-transform: capitalize;
  font-family: Acrom, sans-serif;
  font-size: rem(9);
  color: #052139;
  font-weight: 700;
  line-height: rem(18);
}

.proposal__text3{
  text-transform: uppercase;
  font-family: Acrom, sans-serif;
  font-size: rem(9);
  color: #ffffff;
  font-weight: 700;
  align-self: flex-end;
}

.value__span{
  text-transform: uppercase;
  font-family: Acrom, sans-serif;
  font-size: rem(20);
  font-weight: 700;
  align-self: flex-end;
}

.bgc--blue{
  background-color: #16EBFE;
}

@media (min-width: 480px) {
  .offer__btn{
    padding: 0.625rem 3.3125rem
  }

  .important__value{
    width: 82%;
    padding: 4rem;
  }

  .proposal__text2{
    flex-basis: 38%;
  }

  .value__span{
    font-size: rem(36);
  }

  .cost__span1{
    font-size: 1rem;
  }

  .cost__text1:after{
    top: rem(27.4);
    right: rem(-43.4);
  }

  .slogan__btn{
    padding: rem(8) rem(42);
  }

}

@media (min-width: 768px){
  .important{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .important__value {
    flex-basis: 42%;
    padding: rem(48);
    margin: 0;
  }

  .important__info {
    flex-basis: 33%;
    margin: 0;
  }

  .info__offer{
    padding: 0;
  }

  .cost__text1:after{
    top: rem(27.4);
    right: rem(-37);
  }
}

@media (min-width: 960px){
  .important__value {
    flex-basis: 40%;
  }

  .offer__btn {
    padding: rem(10) rem(33);
  }
}

@media (min-width: 1200px){
  .important__info{
    flex-basis: 40%;
  }

  .action__postscrip {
    flex-basis: 40%;
  }

  .slogan__title{
    margin: 0 0 20px;
  }

  .slogan__text{
    margin: 0 0 20px;
  }
}

@media (min-width: 1440px){
  .important__value{
    flex-basis: 42%;
    padding: rem(60) rem(50);
  }

  .info__title {
    margin: 0 auto 20px;
  }

  .offer__text{
    margin: 0 0 20px;
  }

  .offer__text3 {
    margin: 0 0 rem(20);
  }
}
