.number {
    padding: 0 0 rem(38);
    &__counter {
        position: relative;
    }
    &__foto {
        display: block;
        margin-bottom: rem(24);
    }
    &__descant {
        width: rem(178);
        margin: 0 auto rem(20);
        line-height: rem(24);
    }
    &__title {
        margin: 0 auto rem(12);
    }
    &__text--black{
        margin: 0 auto rem(10);
    }
    &__box-left {
        margin: 0 auto rem(32);
    }
    &__blank {
        margin: 0 0 rem(32) rem(64);
    }
    &__link {
    }
}
@media (min-width: 480px) {
    .number {
        padding: rem(72);
        &__foto {
            margin-bottom: rem(34);
        }
        &__descant {
            width: rem(256);
            margin: 0 auto rem(30);
            line-height: rem(40);
        }
        &__text--black{
            margin: 0 auto rem(12);
        }
        &__box-left {
            margin: 0 auto rem(48);
        }
        &__title {
            margin: 0 auto rem(18);
        }
    }
}
@media (min-width: 768px) {
    .number {
        padding: rem(94);
        display: flex;
        &__descant {
            width: rem(76);
            font-size: rem(9);
            line-height: rem(17);
        }
        &__text--black{
            margin: 0 auto rem(12);
        }
        &__box-left {
            flex-basis: 45.97%;
            margin: 0 8.4375% 0 0;
        }
        &__box-right {
            flex-basis: 43.625%;
        }
        &__box {
            display: flex;
        }
        &__descant-text {
            flex-basis: 60%;
        }
        &__title {
            margin: 0 auto rem(22);
        }
        &__blank {
            margin: 0 0 rem(32) rem(64);
        }
    }
}
@media (min-width: 960px) {
    .number {
        padding: rem(118);
        &__foto {
            margin-bottom: rem(42);
        }
        &__descant {
            width: rem(98);
            font-size: rem(12);
            // margin: 0 auto rem(30);
            line-height: rem(22);
        }
        &__text--black{
            font-size: rem(12);
        }
        &__title {
            margin: 0 auto rem(28);
        }
    }
}
@media (min-width: 1200px) {
    .number {
        padding: rem(126);
        &__foto {
            margin-bottom: rem(38);
        }
        &__descant {
            width: rem(98);
            font-size: rem(10);
            // margin: 0 auto rem(30);
            line-height: rem(19);
            }
        &__text--black{
            font-size: rem(10);
        }
        &__title {
            margin: 0 auto rem(24);
        }
    }
}
@media (min-width: 1440px) {
    .number {
        padding: rem(150);
        &__foto {
            margin-bottom: rem(45);
        }
        &__descant {
            width: rem(98);
            font-size: rem(12);
            // margin: 0 auto rem(30);
            line-height: rem(22);
        }
        &__text--black{
            font-size: rem(12);
        }
        &__title {
            margin: 0 auto rem(28);
        }
    }
}