.text {
  font-family: $acrom;
  font-size: rem(10);
  color: $black;

  &--black {
    font-weight: 700;
  }

  &--orange {
    color: $orange;
<<<<<<< HEAD
    font-size: rem(10);

    &--center {
      text-align: center;
    }

    &--before:before {
      display: inline-block;
      content: "/";
      font-size: rem(18);
      margin-right: rem(8);
    }
=======
>>>>>>> master
  }

  &--center {
    text-align: center;
  }
}
@media (min-width: 480px) {
  .text {
    font-size: rem(12);
  }
}
