.video-courses {
  margin-bottom: 1.875rem;

  &__header {
    margin: 0 auto rem(15);
  }
  &__box {
    padding: 0 1.75rem;
    margin: 0 0 rem(15) 0;

  }

  &__title {
    margin: 0 0 rem(10) 0;
  }
  &__blank {
    margin-left: rem(30);
  }

  &__img {
    margin: auto;
  }

  &__main {
    margin: 0 auto rem(34);
    padding: 0 1.75rem;
  }

  &__comments {
    margin: 0 0 rem(24) 0;
  }

  &__container {
    counter-reset: scroll-counter;
  }
  &__video-step {
    margin: 0 0 rem(19) 0;
    position: relative;
    counter-increment: scroll-counter;

    &:last-child {
      margin: 0;
    }

    &:before {
      position: absolute;
      transform: rotate(-90deg);
      left: rem(-30);
      top: rem(13);
      content: "[00" counter(scroll-counter) "]";
      width: rem(30);
      height: rem(10);
      background-color: #ff6b08;
      color: #ffffff;
      text-align: center;
      font-family: $acrom;
      font-size: rem(9);
      font-weight: 700;
    }
  }

  &__text {
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: rem(2);
      height: rem(22);
      background-color: #000000;
      transform: rotate(30deg);
      top: rem(1.8);
      left: rem(40);
    }
  }

  &__footer {
    width: 83%;
    margin: auto;
    .btn {
      margin: rem(15) auto 0;
    }
  }
}

.video-step {
  &__title-counter {
    margin: 0 0 rem(10) 0;
  }
}

@media (min-width: 480px) {
  .video-courses {
    &__header {
      margin: 0 auto rem(23);
    }

    &__box {
      margin: 0 0 rem(23) 0;
      text-align: center;
    }

    &__title {
      margin: 0 0 rem(15) 0;
    }
    &__blank {
      margin-left: rem(30);
    }

    &__main {
      margin: 0 auto rem(36);
    }

    &__comments {
      margin: 0 0 rem(36) 0;
    }

    &__video-step {
      margin: 0 0 rem(29) 0;

      &:before {
        left: rem(-45);
        top: rem(19);
        width: rem(43);
        height: rem(12);
        font-size: rem(11);
      }
    }

    &__footer {
      .btn {
        margin: rem(36) auto 0;
      }
    }
  }
  .video-step {
    &__title-counter {
      margin: 0 0 rem(15) 0;
    }
  }
}

@media (min-width: 768px) {
  .video-courses {
    padding: 0;
    margin-bottom: 2.875rem;

    &__header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 rem(60);
    }

    &__box {
      flex-basis: 53%;
      margin: 0;
      padding: 0;
    }

    &__pic {
      flex-basis: prc(274, 604);
    }

    &__img {
      margin: 0;
    }
    &__blank {
      margin-left: rem(45);
      font-size: rem(12);
    }

    &__title {
      margin: 0 0 rem(27) 0;
      text-align: left;
    }

    &__main {
      display: flex;
      justify-content: space-between;
      margin: 0 auto rem(36);
      padding: 0;
    }

    &__container {
      flex-basis: 68%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    &__comments {
      flex-basis: 25%;
      margin: 0;
    }

    &__video-step {
      flex-basis: 27%;
      margin: 0 0 rem(26) 0;

      &:nth-child(1n + 4) {
        margin: 0;
      }

    }
    &__text {
      flex-basis: 60%;
      padding: 0;
      &:before {

        top: 0.3125rem;
        left: -1.8rem;
      }
    }
    &__footer {
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      .btn {
        margin: 0 rem(60) 0 0;
        font-size: rem(12);
      }
    }
  }
  .video-step {
    &__title-counter {
      margin: 0 0 rem(10) 0;
    }
  }
}

@media (min-width: 960px) {
  .video-courses {
    padding: 0;

    &__header {
      margin: 0 0 rem(68);
    }

    &__box {
      flex-basis: 47%;
    }

    &__pic {
      flex-basis: prc(308, 684);
    }

    &__img {
      margin: 0;
    }
    &__blank {
      margin-left: rem(45);
    }

    &__title {
      margin: 0 0 rem(33) 0;
    }

    &__main {
      margin: 0 auto rem(40);
    }

    &__video-step {
      flex-basis: 27%;
      margin: 0 0 rem(26) 0;

    }

    &__text {
      flex-basis: 45%;

    }
  }
  .video-step {
    &__title-counter {
      margin: 0 0 rem(12) 0;
    }
  }
}

@media (min-width: 1200px) {
  .video-courses {

    &__blank {
      font-size: rem(14);
      text-align: left;
    }

    &__header {
      margin: 0 0 rem(76);
    }

    &__pic {
      flex-basis: prc(346, 823);
    }

    &__title {
      margin: 0 0 rem(35) 0;
    }

    &__main {

      margin: 0 auto rem(45);
    }

    &__video-step {
      flex-basis: 27%;
      margin: 0 0 rem(33) 0;

    }

    &__footer {
      .btn {
        font-size: rem(14);
      }
    }

  }

}

@media (min-width: 1440px) {
  .video-courses {

    &__pic {
      flex-basis: prc(369, 823);
    }

    &__title {
      margin: 0 0 rem(38) 0;
    }

    &__main {
      margin: 0 auto rem(50);
    }

    &__video-step {
      flex-basis: 27%;
      margin: 0 0 rem(52) 0;

    }

  }
  .video-step {
    &__title-counter {
      margin: 0 0 rem(14) 0;
    }
  }

}







