.warning {

  padding: rem(30) 0;
  margin: auto;

  &__picture {
    display: none;
  }

  &__title {
    font-size: rem(12);
    text-transform: uppercase;
    margin: 0 auto rem(16);
    width: 65%;

    //&--list {
    //  font-family: $acrom;
    //  color: $black;
    //  font-size: rem(9);
    //  line-height: rem(14);
    //  text-transform: uppercase;
    //}
  }

  &__list-item {
    margin: 0 auto rem(5);
    width: 82%;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &__blank {
    width: 55%;
    margin: auto;

    &:before {
      width: rem(20);
      height: rem(3);
    }
  }




  &__blank-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto rem(26);

  }
  //
  //&__blank {
  //  text-align: justify;
  //  flex-basis: 50%;
  //  margin: auto;
  //  font-weight: 700;
  //  position: relative;
  //
  //  &::before {
  //    display: inline-block;
  //    position: absolute;
  //    top: rem(5);
  //    left: rem(-15);
  //    margin: 0;
  //  }
  //}

  &__text {
    font-weight: 400;
  }
}


@media (min-width: 480px) {
  .warning {
    padding: rem(40) 0;


    &__title {
      width: 50%;
    }


    &__blank {
      width: 48%;
    }

    //&__blank {
    //  font-weight: 700;
    //  &::before {
    //    margin: 0;
    //    top: rem(5);
    //    left: rem(-35);
    //
    //  }
    //}

    &__title {

      //&--list {
      //  font-size: rem(13);
      //  font-weight: 900;
      //}
    }

    &__list-item {
      margin: 0 auto rem(18);
      width: 65%;


      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}

@media (min-width: 768px)  {
  .warning {
    display: flex;
    justify-content: space-between;


    &__picture {
      display: block;
      flex-basis: 35%;
    }

    &__body {
      flex-basis: 65%;
    }


    &__title {
      font-size: rem(26);
      width: 70%;


      //&--list {
      //
      //  font-size: rem(9);
      //  font-weight: 900;
      //  line-height: rem(16);
      //
      //}
    }

    &__blank-container {
      margin: 0 auto rem(41);
      width: 100%;
    }


    //&__blank {
    //  font-size: rem(9);
    //  line-height: rem(15);
    //  font-weight: 700;
    //  margin-left: rem(40);
    //
    //
    //  &:before {
    //    margin: 0;
    //    top: rem(5);
    //    height: rem(4);
    //    left: rem(-40);
    //  }
    //}

    &__list {
      width: 100%;
      margin: auto ;
    }


  }
}


@media (min-width: 960px) {
  .warning {

    &__list {

      width: 95%;
      //min-width: rem(400);
    }


    &__blank {
      font-size: rem(12);
      font-weight: 700;
      text-align: justify;
    }
    //  &::before {
    //    margin: 0;
    //    top: rem(5);
    //    height: rem(5);
    //    width: rem(30);
    //    left: rem(-35);
    //  }
    //
    //}

    &__title {

      &--list {
        font-size: rem(11);
        font-weight: 900;

      }
    }

  }
}

@media (min-width: 1200px) {
  .warning {

    &__picture {
      display: block;
      flex-basis: 35%;
    }

    &__body {

      flex-basis: 70%;
    }

    &__blank {
      font-size: rem(10);
      font-weight: 700;
    }
    //  &::before {
    //    margin: 0;
    //    top: rem(5);
    //    height: rem(5);
    //    width: rem(30);
    //    left: rem(-40);
    //  }
    //}

    &__title {

      &--list {
        font-size: rem(10);
        font-weight: 900;
      }
    }

  }

}

@media (min-width: 1440px) {
  .warning {

    &__title {
      width: 80%;
    }

    &__blank {
      font-size: rem(12);
      width: 55%;

      &-container {
        width: 80%;
        margin: 0 0 rem(26);
      }

    }
    //  &::before {
    //    margin: 0;
    //    top: rem(5);
    //    height: rem(5);
    //    width: rem(30);
    //    left: rem(-35);
    //  }
    //}

    &__list {
      width: 80%;
      margin-left: 0;
    }

    &__list-item {
      width: 70%;
    }


    &__title {
      &--list {
        font-size: rem(12);
        margin-bottom: rem(5);

      }
    }

  }
}
